extends layout

block addScripts
    script(src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js", type="text/javascript", charset="UTF-8")
    script.
        paymentwindow = new PaymentWindow({
            'merchantnumber': "8028228",
            'amount': "10095",
            'currency': "DKK",
            'windowstate': 1,
            'accepturl': "http://home-nesdunk.rhcloud.com/betaling"
        });


block content
   input(onclick="javascript: paymentwindow.open()" type="button" value="Go to payment")