extends layout

block content
    section#budget(ng-controller="budget_ctrl", ng-cloak)
        .container
            md-content
                div
                    | Test
                div
                    | {{ budgetFigures | allDone }}
                div(layout="row")
                    div(flex)
                        h1
                            | Budget


                div(layout="row")
                    div(flex="50" layout layout-align="center center" ng-repeat="tab in tabs track by $index" style="float: left; position: relative; background-color: red; padding: 15px; color: #fff; font-size: 14px; line-height: 20px; font-weight: bold; text-transform: uppercase;")
                        | {{ tab.name }}


                div(layout="row")
                    div(ng-repeat="tab in tabs track by $index" style="float: left; position: relative;")
                        md-button.btn(style="min-width: 100px; border-radius: 30px;" ng-class="{ 'btn-secondary': $index == selectedMainIndex, 'btn-primary': $index != selectedMainIndex, }" ng-click="changeSections( $index )")
                            | {{ tab.name }}

                md-tabs(md-dynamic-height, md-border-bottom, md-selected="selectedMainIndex" class="actions")
                    md-tab(label="tab 1")
                        md-content
                            totalbudget(housebudget="totalBudget", budgetfigures="budgetFigures")
                            realisedbudgetgruops(budgetfigures="budgetFigures")
                            realisedbudget(budgetfigures="budgetFigures")
                    md-tab(label="tab 2")
                        md-content
                            div(layout="row")
                                div(ng-repeat="budgetGrp in budgetFigures track by $index" style="float: left; position: relative;")
                                    md-button.btn(style="min-width: 100px; border-radius: 30px;" ng-class="{ 'btn-secondary': $index == selectedIndex, 'btn-primary': $index != selectedIndex }" ng-mouseover="show = true" ng-mouseout="show = false" ng-init="show = false" ng-click="changeSections( $index )")
                                        | {{ budgetGrp.group }}
                                    div(style="background-color: rgba(0,0,0,0.54); border-radius: 50px; padding-left: 10px; padding-right: 10px; width: 150px; position: absolute;  top: 80px; left: 50%;  transform: translate(-50%, -50%); z-index: 9999;" ng-if="show")
                                        i.material-icons(style="font-size: 40px; left: 10px; padding-top: 5px; color: #FFF;") done
                                        i.material-icons(style="font-size: 40px; left: 35px; padding-top: 5px;color: #FFF;") face
                                        i.material-icons(style="font-size: 40px; left: 60px; padding-top: 5px;color: #FFF;") favorite
                            div
                                md-content
                                     md-tabs(md-dynamic-height, md-border-bottom, md-selected="selectedIndex")
                                            md-tab(label="budgetGrp.group" ng-repeat="budgetGrp in budgetFigures track by $index")
                                                md-content
                                                    form(name="budget")
                                                        div(layout-gt-xs="row", style="margin-left: 54px;")
                                                            md-menu(md-position-mode="target-right target")
                                                                md-button.md-icon-button(aria-label="Open demo menu", ng-click="$mdOpenMenu($event)")
                                                                    i.material-icons(style="cursor: pointer;")
                                                                        | menu
                                                                md-menu-content(width="4")
                                                                    md-menu-item
                                                                        md-button(ng-click="deleteGroup( $event, budgetGrp.id )")
                                                                            i.material-icons
                                                                                | delete
                                                                            | Slet gruppe

                                                            h1
                                                                | {{ budgetGrp.group }}
                                                        md-divider
                                                        div(layout-gt-xs="row", style="margin-left: 54px;")
                                                            .md-block(flex-gt-sm)
                                                            .md-block(flex-gt-sm)
                                                                h3.text-center
                                                                    | Budget
                                                                    md-icon(style="color: #79c471;", ng-if="budgetGrp.allDone_budget")
                                                                        | check_circle
                                                            .md-block(flex-gt-sm)
                                                                h3.text-center
                                                                    | Realiseret
                                                                    md-icon(style="color: #79c471;", ng-if="budgetGrp.allDone_realized")
                                                                        | check_circle
                                                            .md-block(flex-gt-sm)
                                                                h3.text-center
                                                                    | Afvigelse
                                                        div(layout-gt-xs="row", ng-repeat="budFig in budgetGrp.lines")
                                                              md-menu-bar
                                                                  md-menu(md-position-mode="target-right target")
                                                                    md-button.md-icon-button(aria-label="Open demo menu", ng-click="$mdOpenMenu($event)")
                                                                      i.material-icons(style="cursor: pointer;")
                                                                        | menu
                                                                    md-menu-content(width="4")
                                                                      md-menu-item
                                                                        md-button(ng-click="markDone( budgetGrp.id, budFig.id, 'budget' )", ng-if="!budFig.done_budget")
                                                                          i.material-icons
                                                                            | done
                                                                          | Budget færdiggjort
                                                                        md-button(ng-click="unmarkDone( budgetGrp.id, budFig.id, 'budget' )", ng-if="budFig.done_budget")
                                                                          i.material-icons
                                                                            | close
                                                                          | Budget ikke færdiggjort
                                                                      md-menu-item
                                                                        md-button(ng-click="markDone( budgetGrp.id, budFig.id, 'realized' )", ng-if="!budFig.done_realized")
                                                                          i.material-icons
                                                                            | done
                                                                          | Reliseret færdiggjort
                                                                        md-button(ng-click="unmarkDone( budgetGrp.id, budFig.id, 'realized' )", ng-if="budFig.done_realized")
                                                                          i.material-icons
                                                                            | close
                                                                          | Reliseret ikke færdiggjort
                                                                      md-menu-divider
                                                                      md-menu-item
                                                                        md-button(ng-click="markAsAdditionBuy( budgetGrp.id, budFig.id )", ng-if="!budFig.additionBuy")
                                                                          i.material-icons
                                                                            | add_shopping_cart
                                                                          | Marker som tilvalg
                                                                        md-button(ng-click="unmarkAsAdditionBuy( budgetGrp.id, budFig.id )", ng-if="budFig.additionBuy")
                                                                            i.material-icons
                                                                                | add_shopping_cart
                                                                            | Fjern markering som tilvalg
                                                                      md-menu-divider
                                                                      md-menu-item
                                                                              md-menu
                                                                                  md-button(ng-click="$mdOpenMenu()")
                                                                                    i.material-icons
                                                                                        | vertical_align_center
                                                                                    | Linier
                                                                                  md-menu-content
                                                                                      md-menu-item
                                                                                          md-button(ng-click="addLineBefore( budgetGrp.id, budFig.id )")
                                                                                              i.material-icons
                                                                                                  | vertical_align_top
                                                                                              | Tilføj række ovenfor
                                                                                      md-menu-item
                                                                                          md-button(ng-click="addLineAfter( budgetGrp.id, budFig.id )")
                                                                                              i.material-icons
                                                                                                  | vertical_align_bottom
                                                                                              | Tilføj række nedenfor
                                                                                      md-menu-divider
                                                                                      md-menu-item
                                                                                          md-button(ng-click="deleteLine( $event, budgetGrp.id, budFig.id )")
                                                                                              i.material-icons
                                                                                                  | delete
                                                                                              | Slet række


                                                              h3.md-block(flex-gt-sm)
                                                                {{ budFig.itemText }}
                                                                md-icon(style="color: #79c471;", ng-if="budFig.additionBuy")
                                                                    | add_shopping_cart
                                                                //https://docs.angularjs.org/api/ng/directive/ngValue
                                                              md-input-container.md-block.md-icon-float.md-icon-right(flex-gt-sm)
                                                                input(type="number", name="budget{{ $index }}", ng-model="budFig.budget", step="500", min="0", max="10000000", ng-pattern="/^[0-9]{0,8}$/", ng-disabled="budFig.done_budget")
                                                                md-icon(style="color: #79c471;", ng-if="budFig.done_budget")
                                                                    | check_circle
                                                                div(ng-messages="budget['budget' + $index ].$error", multiple, md-auto-hide="false")
                                                                    div(ng-message="pattern")
                                                                        | You should charge exactly $1,234.
                                                                    div(ng-message="min")
                                                                        | You should charge at least $800 an hour. This job is a big deal... if you mess up,
                                                                    div(ng-message="max")
                                                                        {{ budget['budget' + $index].$viewValue | currency:"$":0}}
                                                                        | an hour? That's a little ridiculous. I
                                                                        | doubt even Bill Clinton could afford that.
                                                              md-input-container.md-block.md-icon-float.md-icon-right(flex-gt-sm)
                                                                input(type="number", name="realized{{ $index }}", ng-model="budFig.realized", step="500", min="0", max="10000000", ng-pattern="/^[0-9]{0,8}$/", ng-disabled="budFig.done_realized")
                                                                md-icon(style="color: #79c471;", ng-if="budFig.done_realized")
                                                                    | check_circle
                                                                div(ng-messages="budget['realized' + $index ].$error", multiple, md-auto-hide="false")
                                                                    div(ng-message="pattern")
                                                                        | You should charge exactly $1,234.
                                                                    div(ng-message="min")
                                                                        | You should charge at least $800 an hour. This job is a big deal... if you mess up,
                                                                    div(ng-message="max")
                                                                        {{ budget['realized' + $index].$viewValue | currency:"$":0}}
                                                                        | an hour? That's a little ridiculous. I
                                                                        | doubt even Bill Clinton could afford that.
                                                              md-input-container.md-block(flex-gt-sm, ng-class="{'negative': budFig.budget - budFig.realized < 0}")
                                                                {{ budFig.budget - budFig.realized | currency : "kr. " : 0 }}
                                                        div(layout-gt-xs="row")
                                                            .md-block(flex-gt-sm)
                                                                h3
                                                                    |  Total
                                                                h5
                                                                    |  Heraf tilvalg
                                                            .md-block(flex-gt-sm)
                                                                h3
                                                                    {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'budget' | currency : "kr. " : 0 }}
                                                                h5
                                                                    {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'budget' : true | currency : "kr. " : 0 }}
                                                            .md-block(flex-gt-sm)
                                                                h3
                                                                    {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'realized' | currency : "kr. " : 0 }}
                                                                h5
                                                                    {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'realized' : true | currency : "kr. " : 0 }}
                                                            .md-block(flex-gt-sm)
                                                                h3
                                                                    {{ budgetFigures | diverationFilterGroup : budgetGrp.id | currency : "kr. " : 0 }}
                                                                h5
                                                                    {{ budgetFigures | diverationFilterGroup : budgetGrp.id : true | currency : "kr. " : 0 }}
                                            md-tab#addGroup(aria-controls="addGroup")
                                                md-tab-label
                                                    md-icon
                                                        | add_circle_outline
                                                md-tab-body
                                                    h3
                                                        | Tilføj ny gruppe
                                                    form(ng-submit="addGroup( groupName, insertBefore )" layout="column", id="addNewGroup")
                                                        md-input-container.md-block(flex-gt-sm)
                                                            label
                                                                | Gruppe navn
                                                            input(type="text", id="groupName", name="groupName", ng-model="groupName", required)
                                                            div(ng-messages="budget['realized' + $index ].$error")
                                                                div(ng-message="required")
                                                                    | This is required.
                                                        //md-input-container.md-block(flex-gt-sm)
                                                            label
                                                                | Indsæt før {{ insertBefore }}
                                                            md-select( id="insertBefore", name="insertBefore", placeholder="Indsæt før", ng-model="insertBefore" )
                                                                md-option(ng-repeat="budgetGrp in addGroupOptions track by $index" value="{{ budgetGrp.id }}")
                                                                    {{ budgetGrp.id }}
                                                                    {{ budgetGrp.group }}
                                                        md-button.add-tab.md-primary.md-raised( type="submit", ng-disabled="!groupName" )
                                                            //|| !insertBefore
                                                            | Tilføj gruppe




| SKAL VI HAVE MARGIN på 10% ex på total - budget afvigelse?
| Forklaring af hvad tilvalg er


//div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak)
                   md-whiteframe.md-whiteframe-1dp(flex style="background-color: aliceblue")
                       md-list(ng-cloak)
                           md-list-item
                               h2
                                   | Samlet husbudget
                           md-list-item
                               h3
                                   | Samlet husbudget
                               h3.md-secondary
                                   | {{ totalBudget | currency : "kr. " : 0 }}
                           md-list-item
                               h3
                                   | Budget, jf. nedenstående opgørelse
                               h3.md-secondary
                                   | {{ budgetFigures | sumFilter : 'budget' | currency : "kr. " : 0 }}
                           md-list-item
                               h3
                                   | Afvigelse
                               h3.md-secondary
                                   | {{ budgetFigures | diverationFilter_totalBudget | currency : "kr. " : 0 }}
//div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak)
                    md-whiteframe.md-whiteframe-1dp(flex style="background-color: aliceblue")
                        md-list(ng-cloak)
                            md-list-item
                              h2
                                | Budget og realiserede pr gruppe
                            md-list-item
                              md-switch.md-primary(md-no-ink aria-label="Switch No Ink" ng-model="showAdditionalBuy")
                                | Vis tilvalg
                            md-list-item
                              h3
                              h3.md-secondary
                                | Budget
                              h3.md-secondary
                                | Realiseret
                              h3.md-secondary
                                | Afvigelse

                            md-list-item(ng-repeat="budgetGrp in budgetFigures")
                                div
                                  h3
                                    {{ budgetGrp.group }}
                                  h5(ng-if="showAdditionalBuy")
                                    | Heraf tilvalg
                                div.md-secondary
                                    h3
                                        {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'budget' | currency : "kr. " : 0 }}
                                        md-icon(style="color: #79c471;", ng-if="budgetGrp.allDone_budget")
                                            | check_circle
                                    h5(ng-if="showAdditionalBuy")
                                        {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'budget' : true | currency : "kr. " : 0 }}
                                div.md-secondary
                                    h3
                                        {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'realized' | currency : "kr. " : 0 }}
                                        md-icon(style="color: #79c471;", ng-if="budgetGrp.allDone_realized")
                                            | check_circle
                                    h5(ng-if="showAdditionalBuy")
                                        {{ budgetFigures | sumFilterGroup : budgetGrp.id : 'realized' : true | currency : "kr. " : 0 }}
                                div.md-secondary
                                    h3
                                        {{ budgetFigures | diverationFilterGroup : budgetGrp.id | currency : "kr. " : 0 }}
                                    h5(ng-if="showAdditionalBuy")
                                        {{ budgetFigures | diverationFilterGroup : budgetGrp.id : true | currency : "kr. " : 0 }}


//div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak)
   md-whiteframe.md-whiteframe-1dp(flex style="background-color: aliceblue")
       md-list(ng-cloak)
         md-list-item
             h2
               | Budget ift. realiserede omkostninger
         md-list-item
             h3
                 | Budget
                 md-icon(style="color: #79c471;", ng-if="( budgetFigures | allDone : 'budget' )")
                     | check_circle
             h3.md-secondary
                 {{ budgetFigures | sumFilter : 'budget' | currency : "kr. " : 0 }}
         md-list-item
             h3
                 | Realiseret
                 md-icon(style="color: #79c471;", ng-if="( budgetFigures | allDone : 'realized' )")
                     | check_circle
             h3.md-secondary
                 {{ budgetFigures | sumFilter : 'realized' | currency : "kr. " : 0 }}
         md-list-item
             h3
                 | Afvigelse
             h3.md-secondary
                 {{ budgetFigures | diverationFilter | currency : "kr. " : 0 }}






