extends layout

block content
    section#navigation(ng-controller="navigation_ctrl")
        .container
            md-content
                h1(style="padding-top: 60px; text-align: center;")
                    | Kom godt igang
                md-inline-form(layout="column")
                    md-content(layout-padding)
                        h2 TEST
                        div(layout="row" layout-wrap)
                            div(flex="50", ng-repeat="page in pages" )
                                md-card(style="position: relative; cursor: pointer;", ng-mouseover="hover=true", ng-mouseout="hover=false", ng-click="changePage(page.path)" )
                                    img.md-card-image(ng-src="images/background/kitchen.jpg")
                                    div(style="position: absolute; background-color: rgba(0, 0, 0, 0.4); color: #fff; top: 0; bottom: 0; left: 0; right: 0; text-align: center;")
                                        h1(style="color: #fff; padding: 30px; background-color: rgba(0, 0, 0, 0.4);")
                                            | {{ page.title }}
                                        div(style="position: absolute; top: 99px; bottom: 0; left: 0; right: 0")
                                            p(style="color: #fff; padding: 30px; font-size: 20px;")
                                                | BLA BLA BLABLABLA BLA BLA BLABLABLA BLA BLA BLABLABLA BLA BLA BLABLABLA BLA BLA BLABLABLA BLA BLA BLABLABLA BLA BLA BLABLABLA
                                            div(ng-show="hover" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #29d9c2; padding-top: 30px;")
                                                i(style="font-size:150px;" class="material-icons")
                                                    | slideshow
                                                p(style="color: #fff; padding-top: 20px; font-size: 40px;")
                                                    | {{ page.text }}