<div ng-cloak ng-controller="haand-new-project">
    <md-content class="md-padding" layout="column">
        <div layout="row">
            <div flex="50" layout="column">
                <md-card>
                    <card-header></card-header>
                    <md-card-title>
                        <md-card-title-text>
                            <input-address></input-address>
                            <input-name owner></input-name>
                            <input-email></input-email>
                        </md-card-title-text>
                    </md-card-title>
                    <input-actions-card saveAndSend></input-actions-card>
                </md-card>
            </div>
            <help-page flex="50" layout="column"></help-page>
        </div>
    </md-content>
</div>