<div style="margin-top: 12px; margin-right: 5px;">
    <i class="material-icons" ng-click="showHelp=!showHelp; addImage=false; addFile=false;">help</i>
    <span ng-click="showHelp=false; addImage=!addmage" style="position: relative;">
        <i class="material-icons">photo_camera</i>
        <i class="material-icons" style="color: #6f6b6b; position: absolute; right: 0px; top: 4px; font-size: 15px; background: #fff; border-radius: 50%;">add_circle</i>
    </span>
    <span ng-click="showHelp=false; addFile=!addFile" style="position: relative;">
        <i class="material-icons">attachment</i>
        <i class="material-icons" style="color: #6f6b6b; position: absolute; right: -3px; top: 4px; font-size: 15px; background: #fff; border-radius: 50%;">add_circle</i>
    </span>
</div>