<div>
    <div ng-repeat="item1 in items | inParent : parent : room : grandParent" style="padding-left: 20px;" ng-init="showOptions=false">
        Spørgsmål: {{ item1.id }} - {{ item1.text.title }} - P:{{ item1.parent }} - G:{{ item1.grandParent }} - <a ng-click="showOptions = !showOptions" style="cursor:pointer; color: red;">VIS OPTIONS</a>
        <div ng-repeat="item2 in items | inParent : item1.id : room : grandParent" style="padding-left: 20px;" ng-show="showOptions">
            <span ng-if="item2.text.title">Spørgsmål: {{ item2.id }} - {{ item2.text.title }} - P:{{ item2.parent }} - G:{{ item2.grandParent }} - <a ng-click="showOptions = !showOptions" style="cursor:pointer; color: red;">VIS OPTIONS</a></span>
            <span ng-if="!item2.text.title">Option: {{ item2.id }} - {{ item2.text.option }} - P:{{ item2.parent }} - G:{{ item2.grandParent }} - R:{{ item2.room }}</span>
            <build-tree parent="item2.id" grand-parent="item1.id" room="room" items="items"></build-tree>
        </div>
    </div>
    <!--
    "frisby"

    "gulp-browserify": "^0.5.1",
    "gulp-jasmine-node": "^1.0.7",
    "gulp-jshint": "^2.0.4",
    "jasmine-core": "^2.7.0",
    "jasmine-node": "^1.14.5",
    "jshint": "^2.9.5",
    "jshint-stylish": "^2.2.1",
    -->
</div>

